{% extends "base.html" %}

{% block page_content %}
<h1>Cadastro de Disciplinas</h1>
<form method="POST" action="{{ url_for('disciplinas') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label }} {{ form.name(size=32, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.semester.label }} {{ form.semester(class="form-select") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>

<h2>Relação de Disciplinas Cadastradas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Disciplina</th>
            <th>Semestre</th>
        </tr>
    </thead>
    <tbody>
        {% for discipline in disciplines %}
        <tr>
            <td>{{ discipline.name }}</td>
            <td>{{ discipline.semester }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
